.logo {
    margin-top: 3vh;
    position: relative;
    display: flex;
    width: 80vh;
    height: 36vh;
    justify-content: center;
    animation-name: logofade;
    animation-duration: 4000ms;
    animation-iteration-count: 1;
    pointer-events: none;
}

.logo__word {
    position: absolute;
    object-fit: fill;
    width: 100%;
    height: 100%;
    animation-name: movinglogo;
    animation-duration: 5000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

//*// KeyFrames //*//

@keyframes logofade {

    0%,
    30% {
        opacity: 0;
        pointer-events: none;
        filter: blur(1000px);
    }

    99% {
        pointer-events: none;
    }

    100% {
        opacity: 1;
        filter: blur(0px);
        pointer-events: all;
    }
}

@keyframes movinglogo {
    from {
        transform: rotateZ(-3deg);
        margin-top: 1%;
        scale: 95%;
    }

    to {
        transform: rotateZ(3deg);
        margin-top: 2%;
        scale: 110%;
    }
}

//*// Responsive //*//

@media only screen and (max-aspect-ratio: 176/100) {
    .logo {
        margin-left: 30vw;
    }
}

@media only screen and (max-aspect-ratio: 120/85) {
    .logo {
        margin-left: 0;
        width: 70vh;
        height: 26vh;
    }
}

@media only screen and (max-aspect-ratio: 53/68) {
    .logo {
        width: 75vw;
        height: 31vw;
    }
}