.stars {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
    background-repeat: repeat-x;
    background-color: transparent;
    background-repeat: repeat;
    animation-name: movingstars;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.stars--small {
    background-image: url("assets/small_stars.png");
    animation-duration: 160s;
}

.stars--medium {
    background-image: url("assets/medium_stars.png");
    animation-duration: 110s;
}

.stars--big {
    background-image: url("assets/big_stars.png");
    animation-duration: 50s;
}

.container {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    animation-name: showup;
    animation-duration: 5s;
    animation-timing-function: cubic-bezier(0.32, 0.04, 0, 1.42);
    position: relative;
    animation-iteration-count: 1;
}

//*// KeyFrames //*//

@keyframes movingstars {
    from {
        background-position-y: 2000px;
    }

    to {
        background-position-y: -2000px;
    }
}

@keyframes showup {

    from {
        scale: 0%;
    }

    to {
        scale: 100%
    }
}