@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

#root {
    height: 100%;
    width: 100%;
    position: relative;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgb(0, 0, 0);
    background: radial-gradient(ellipse at bottom, rgb(11, 15, 22) 0%, rgb(0, 0, 0) 100%);
}